modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["python3", "file"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "node server.js"]

[workflows]
runButton = "ElefanteLab Server"

[[workflows.workflow]]
name = "ElefanteLab Server"
author = 41130204
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
