modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["python3"]

[[ports]]
localPort = 80
externalPort = 3001

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 24678
externalPort = 80

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "npm start"]

[workflows]
runButton = "ElefanteLab Server"

[[workflows.workflow]]
name = "ElefanteLab Server"
author = 41130204
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 server.py"
